/* Style sheet for the home page*/
.meme{
  width: 20%;
}
.cont{
  display: flex; 
  justify-content: flex-end;
  background-color: #333;
  width: 30%;
  z-index:3;
  float: right;
  margin-left: auto;
  margin-right: 0;
}

a{
  text-decoration: none;
}