/*style sheet for the page about me */
body{
  margin: 0;
  right: 0;
  width: 100%;
  opacity: 1;
  top: 0;
}
html{
  scroll-padding-top: 50px;
}
div{
  padding-top: 10px;
  padding-bottom: 10px;
}
main{
  background-color: #d1f4fd;
  margin-bottom: 5%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 44px;
}
section{
  margin-top: 2%;
}
hr{
  border: none;
  margin-top:none;
}
h1{
  text-align: center;
  font-size: 70px;
  font-family: 'Brush Script MT';
  color: black;
}
h2{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 0.5%;
  font-size: 25px;
  font-weight: lighter;
  color: #333;
  text-align: center;
  font-family: 'Courier New', monospace;
}
a{
  text-decoration:underline;
  color:#333;
  font-family: "Consolas";
}
p, td, th{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  position: relative;
  font-size: 18px;
  font-family: "Consolas";
}
li{
  margin-left: 3.5%;
  margin-right: 3.5%;
  margin-top: 0.05%;
  font-size: 18px;
  font-family: "Consolas";
}
button{
  border-color:black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 30px;
  display: inline;
  font-size: 15px;
}
.contact a{
  font-weight: bold;
}