/*Style sheet for the blog page*/
date{
  text-align: right;
  float: right;
  font-style: italic;
  margin-right: 2%;
}
article{
  margin-left: 5%;
  padding-right: 10%;
  width: 80%;
  font-family: "Consolas";
}
p{
  margin-left: 2%;
}
.post{
  width: 70%;
  margin-left: 5%;
  margin-right: 20%;
  background-color: #b1efff;
}
section fieldset{
  padding-top: 2.5%;
  padding-bottom: 3%;
  opacity: 1;
}
.button{
  float: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.button a{
  text-decoration: none;
}
#article1, #article2, #article3, #article4, #article5, #article6, #article7, #article8{
  display: none;
}