/*Style sheet for the part of the page with title and picture*/
fieldset{
  position: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
h1{
  color: black;
  text-align: center;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  margin:auto;
}
header{
  width: page;
}