/*Sytle sheet for creation of humburger menu in basic information section*/
.hammenu{
    display: none;
  }
.icon:hover .hammenu{
    display: block;
    background-color: #333;
    top: 5%;
    width: 30%;
    z-index:3;
    float: right;
}
.icon:hover .hammenu ul{
    list-style-type: circle;
    padding: 0;
    overflow: visible;
    background-color: #333;
}
.icon:hover .hammenu li{
    float: right;
}