/*Style sheet for the part of the page with title and picture*/
fieldset{
  position: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
header{
  width: page;
  margin-top: 45%;
  margin-bottom: 45%;
}