/*Style sheet for the FAQ page*/
p{
  font-weight: normal;
  font-style: italic;
}
h2{
  font-size: 20px;
}
li{
  font-style: italic;
}
.menu li{
  font-style: normal;
}
header{
  padding-top: 12%;
}
